* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: #8e44ad;
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  background: #fff;
  max-width: 600px;
  position: relative;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border-radius: 0.3em;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
}
.steps {
  list-style-type: none;
  counter-reset: number;
  width: 40%;
}
.instruction {
  width: 60%;
}
.steps li {
  padding: 0.3em 0;
  opacity: 0.5;
}
.steps li:hover {
  opacity: 1;
  cursor: pointer;
}
.steps li::before {
  counter-increment: number;
  content: counter(number);
  width: 1em;
  height: 1em;
  padding: 0.3em;
  margin-right: 0.5em;
  text-align: center;
  display: inline-block;
  color: black;
  background-color: #eaeaea;
  border-radius: 50%;
}
.steps .step-active {
  opacity: 1;
}
.steps .step-active::before {
  color: #fff;
  background-color: #388bd0;
}
.instruction {
  display: none;
}
.instruction-visible {
  display: block;
  margin-left: 4em;
}

button {
  border: none;
  background-color: #eaeaea;
  font-size: 0.9em;
  padding: 0.8rem;
  margin-bottom: 1rem;
}
button:focus {
  outline: none;
}
button:hover {
  cursor: pointer;
  background-color: #d1d1d1;
}
button:active {
  transform: translateY(1px);
}
.button-confirm {
  animation: error 0.5s;
}

@keyframes error {
  10%,
  90% {
    transform: translateX(-0.5px);
  }
  20%,
  80% {
    transform: translateX(1px);
  }
  30%,
  50%,
  70% {
    transform: translateX(-1.5px);
  }
  40%,
  60% {
    transform: translateX(1.5px);
  }
}
